.loginButton {
    background-color: "white";
    width: "5.4em";
    margin-right: "33em";

}

.signUpButton {
    background-color: "orange";
    width: "5.4em";
    margin: "1em";
}


@import '~bootstrap/dist/css/bootstrap.css';